@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: screen;
  margin: 0 auto;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      opacity: 1;
      transform: translateX(0);
  }
  to {
      opacity: 0;
      transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.8s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.8s ease-in-out forwards;
}

.flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: #181E26 !important;
    border: none !important;
}

.selected-flag {
  background: #181E26 !important;
}

.country.highlight{
  background-color: #fdcb22 !important;
  color: black;
  font-weight: 500;
}
.country:hover{
  background-color: #fdcb22 !important;
  color: black;
  font-weight: 500;
}



