@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: screen;
  margin: 0 auto;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      opacity: 1;
      transform: translateX(0);
  }
  to {
      opacity: 0;
      transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.8s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.8s ease-in-out forwards;
}

.flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: #181E26 !important;
    border: none !important;
}

.selected-flag {
  background: #181E26 !important;
}

.country.highlight{
  background-color: #fdcb22 !important;
  color: black;
  font-weight: 500;
}
.country:hover{
  background-color: #fdcb22 !important;
  color: black;
  font-weight: 500;
}
/* Button Styling */
.hover-button {
  width: 50px;
  height: 50px;
  background-color: #fdcb22; /* Initial orange color */
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.hover-button:hover {
  transform: scale(1.1); /* Slight scale effect on hover */
}

/* Background Glow Effect */
.hover-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15); /* Light white glow */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.hover-button:hover .hover-background {
  opacity: 1;
  transform: scale(2); /* Expands the glowing circle */
}

/* Text Animation */
.group-hover .hover-button span {
  color: white;
}




