@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: screen;
  margin: 0 auto;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      opacity: 1;
      transform: translateX(0);
  }
  to {
      opacity: 0;
      transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}

.react-tel-input .flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: #181E26 !important;
    border-radius: 3px 0 0 3px !important;
    color: #fff !important; 
}



